.AbtHero {
	height: 55vh;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: left;
	align-items: center;
	/*background: url(/images/about-map.jpg);*/
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.Abt {
	font-family: Monoton;
}