/* MEDIA QUERIES */
@media only screen and (min-width: 1048px) {
	.signup-form {
		width: 25%;
	}
	.signup-link-text {
		font-size: 22px;
	}
}

@media only screen and (max-width: 1048px) {
	.signup-form {
		width: 55%;
	}
}

@media only screen and (max-width: 400px) {
	.signup-form {
		width: 75%;
	}
	.signup-btn {
		width: 40%;
	}
}